.mainBlock{
	margin-top: 20px;
}
.MyContent1{

    display: inline-block;
    float: left;
    height: 100%;
    width: 43%;
	margin-left: 3%;
}


.MyContent2{

    display: inline-block;
    float: right;
    height: 100%;
    width: 43%;
    margin-left: 3%;
}
.TextArea1{
	width: 500px;
	height: 180px;
}
.myResult{
	width: 400px;
	height: 150px;
	background-color: #efefef;
	color: white;
}
.NumberArea1{
    width: 600px;
}
.keyInput{
    display: inline-block;
}

.inputNumber{
    display: inline-block;
    width: 170px;

}
.ImgArrow{
    display: inline-block;
    width: 80px;
    height: 30px;
    margin-top: 100px;
}
.Img2 {
    height: inherit;
    width: inherit;
}

.saveButton{
    margin-bottom: 10px;
    display: inline-block;
}

.MainSubmitButton{
    margin-top: -39px;
    margin-left: 380px;
}

.top_hrefs{

    color: white;
    text-decoration: none;
}
.top_hrefs:hover{

    color: white;
    text-decoration: none;
}
.top_div{
    display: inline-block;
    width: 500px;
}

.linear_eq{
    display: inline-block;
    width: 80px;
}
.eror1{
    display: inline-block;
    margin-left: 50px;
    color: #d30000;
}
.error-container{
    text-align: center;
    height: 100%;
}

.error-container h1{
    text-align: center;
    font-size: 220px;
    color: #01305b;
}

.return404{
    width: 100%;
    color: #012d55;

}
.return404 a{
    padding-bottom: 1px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid
}